.hc-opacity{
  li,div,span,a{
    &.hc-opacity-mark{
      display: block;
      transition: all 0.4s;
      &:hover{
        opacity: 0.75;
      }
    }
  }
  &:after{
    display: block;
    content:"";
    clear: both;
  }

}
//hover change opacity