.hc-position{
  >li,>div,>span,>a{
    position: relative;
    min-height: 20px;
    display: block;
    overflow: hidden;
    >div,>a,>span{
      position: relative;
      left:0;
      display: block;
      width: 200%;
    }
    &:hover{
      >div,>a,>span{
        left:-100%;
      }
     }
    &:after{
      display: block;
      content: '';
      clear: both;
    }
  }
  &._transition{
    >li,>div,>span,>a{
      >div,>a,>span{ transition: all 0.3s;}
    }
  }
}