html,
body {
  margin: 0;
  padding: 0;
}
html {
  font-size: 14px;
  line-height: 30px;
}
* {
  font-family: 'microsoft Yahei';
}
i,
em {
  font-style: normal;
}
img {
  vertical-align: top;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.table {
  display: table;
  width: 100%;
  height: 100%;
}
.table-row {
  display: table-row;
}
.table-cell {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
a,
a:hover,
a:focus {
  text-decoration: none;
  cursor: pointer;
}
input,
textarea,
select {
  padding: 0 5px;
  border: solid 1px #e4e4e4;
  border-radius: 4px;
}
.clearfix:after {
  display: block;
  content: '';
  clear: both;
}
.f-left {
  float: left;
}
.f-right {
  float: right;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center ;
}
.disable,
.disabled {
  pointer-events: none ;
  opacity: 0.5 ;
}
.inline-block {
  display: inline-block;
  float: none ;
}
.block {
  display: block ;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.absolute {
  position: absolute ;
}
.hide {
  display: none ;
}
.visi-hide {
  visibility: hidden;
}
.bg-white {
  background: #FFF;
}
.bg-black {
  background: #000;
}
.color-white {
  color: #FFF;
}
.color-black {
  color: #000;
}
.btn {
  display: inline-block;
  padding: 0  10px;
  border-radius: 100px ;
  margin: 5px;
  border: solid 1px #ddd;
}
.gc-1 {
  width: 8.33333333%;
}
.gch-1 {
  height: 8.33333333%;
}
.gc-2 {
  width: 16.66666667%;
}
.gch-2 {
  height: 16.66666667%;
}
.gc-3 {
  width: 25%;
}
.gch-3 {
  height: 25%;
}
.gc-4 {
  width: 33.33333333%;
}
.gch-4 {
  height: 33.33333333%;
}
.gc-5 {
  width: 41.66666667%;
}
.gch-5 {
  height: 41.66666667%;
}
.gc-6 {
  width: 50%;
}
.gch-6 {
  height: 50%;
}
.gc-7 {
  width: 58.33333333%;
}
.gch-7 {
  height: 58.33333333%;
}
.gc-8 {
  width: 66.66666667%;
}
.gch-8 {
  height: 66.66666667%;
}
.gc-9 {
  width: 75%;
}
.gch-9 {
  height: 75%;
}
.gc-10 {
  width: 83.33333333%;
}
.gch-10 {
  height: 83.33333333%;
}
.gc-11 {
  width: 91.66666667%;
}
.gch-11 {
  height: 91.66666667%;
}
.gc-12 {
  width: 100%;
}
.gch-12 {
  height: 100%;
}
.gc-1,.gc-2,.gc-3,.gc-4,.gc-5,.gc-6,.gc-7,.gc-8,.gc-9,.gc-10,.gc-11,.gc-12,.gch-1,.gch-2,.gch-3,.gch-4,.gch-5,.gch-6,.gch-7,.gch-8,.gch-9,.gch-10,.gch-11,.gch-12 {
  position: relative;
  display: block;
  float: left;
}
.gc-1:after,.gch-1:after,.gc-2:after,.gch-2:after,.gc-3:after,.gch-3:after,.gc-4:after,.gch-4:after,.gc-5:after,.gch-5:after,.gc-6:after,.gch-6:after,.gc-7:after,.gch-7:after,.gc-8:after,.gch-8:after,.gc-9:after,.gch-9:after,.gc-10:after,.gch-10:after,.gc-11:after,.gch-11:after,.gc-12:after,.gch-12:after {
  display: block;
  content: '';
  clear: both;
}
.gc-1 img,.gch-1 img,.gc-2 img,.gch-2 img,.gc-3 img,.gch-3 img,.gc-4 img,.gch-4 img,.gc-5 img,.gch-5 img,.gc-6 img,.gch-6 img,.gc-7 img,.gch-7 img,.gc-8 img,.gch-8 img,.gc-9 img,.gch-9 img,.gc-10 img,.gch-10 img,.gc-11 img,.gch-11 img,.gc-12 img,.gch-12 img {
  max-width: 100%;
  max-height: 100%;
}
.navigation {
  position: relative;
  display: table;
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
}
.navigation:after {
  display: block;
  content: '';
  clear: both;
}
.navigation li,
.navigation span,
.navigation a {
  transition: all 0.3s;
  display: table-cell;
}
.navigation li a,
.navigation span a,
.navigation a a {
  display: block;
}
.navigation.nav-radius li,
.navigation.nav-radius span,
.navigation.nav-radius a {
  color: #333;
  background: #93d496;
  border: solid 1px #333;
  border-radius: 4px;
  line-height: 2em;
}
.navigation.nav-img li,
.navigation.nav-img span {
  margin-left: 0;
}
.hc-opacity li.hc-opacity-mark,
.hc-opacity div.hc-opacity-mark,
.hc-opacity span.hc-opacity-mark,
.hc-opacity a.hc-opacity-mark {
  display: block;
  transition: all 0.4s;
}
.hc-opacity li.hc-opacity-mark:hover,
.hc-opacity div.hc-opacity-mark:hover,
.hc-opacity span.hc-opacity-mark:hover,
.hc-opacity a.hc-opacity-mark:hover {
  opacity: 0.75;
}
.hc-opacity:after {
  display: block;
  content: "";
  clear: both;
}
.hc-position li.hc-position-mark,
.hc-position div.hc-position-mark,
.hc-position span.hc-position-mark,
.hc-position a.hc-position-mark {
  position: relative;
  min-height: 20px;
  display: block;
  overflow: hidden;
}
.hc-position li.hc-position-mark div.hc-position-content,
.hc-position div.hc-position-mark div.hc-position-content,
.hc-position span.hc-position-mark div.hc-position-content,
.hc-position a.hc-position-mark div.hc-position-content,
.hc-position li.hc-position-mark a.hc-position-content,
.hc-position div.hc-position-mark a.hc-position-content,
.hc-position span.hc-position-mark a.hc-position-content,
.hc-position a.hc-position-mark a.hc-position-content,
.hc-position li.hc-position-mark span.hc-position-content,
.hc-position div.hc-position-mark span.hc-position-content,
.hc-position span.hc-position-mark span.hc-position-content,
.hc-position a.hc-position-mark span.hc-position-content {
  position: relative;
  left: 0;
  display: block;
  width: 200%;
}
.hc-position li.hc-position-mark:hover div.hc-position-content,
.hc-position div.hc-position-mark:hover div.hc-position-content,
.hc-position span.hc-position-mark:hover div.hc-position-content,
.hc-position a.hc-position-mark:hover div.hc-position-content,
.hc-position li.hc-position-mark:hover a.hc-position-content,
.hc-position div.hc-position-mark:hover a.hc-position-content,
.hc-position span.hc-position-mark:hover a.hc-position-content,
.hc-position a.hc-position-mark:hover a.hc-position-content,
.hc-position li.hc-position-mark:hover span.hc-position-content,
.hc-position div.hc-position-mark:hover span.hc-position-content,
.hc-position span.hc-position-mark:hover span.hc-position-content,
.hc-position a.hc-position-mark:hover span.hc-position-content {
  left: -100%;
}
.hc-position li.hc-position-mark:after,
.hc-position div.hc-position-mark:after,
.hc-position span.hc-position-mark:after,
.hc-position a.hc-position-mark:after {
  display: block;
  content: '';
  clear: both;
}
.hc-position._transition li.hc-position-mark div.hc-position-content,
.hc-position._transition div.hc-position-mark div.hc-position-content,
.hc-position._transition span.hc-position-mark div.hc-position-content,
.hc-position._transition a.hc-position-mark div.hc-position-content,
.hc-position._transition li.hc-position-mark a.hc-position-content,
.hc-position._transition div.hc-position-mark a.hc-position-content,
.hc-position._transition span.hc-position-mark a.hc-position-content,
.hc-position._transition a.hc-position-mark a.hc-position-content,
.hc-position._transition li.hc-position-mark span.hc-position-content,
.hc-position._transition div.hc-position-mark span.hc-position-content,
.hc-position._transition span.hc-position-mark span.hc-position-content,
.hc-position._transition a.hc-position-mark span.hc-position-content {
  transition: all 0.3s;
}
.vl-middle {
  display: table;
  width: 100%;
  height: 100%;
}
.vl-middle div.vl-middle-content {
  display: table-cell;
  float: none;
  vertical-align: middle;
}
